:root{
    --site-bg-color:rgb(42, 48, 48);
    --icons-hover-color:aquamarine;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-weight: bold;
}
.header-top{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: var(--site-bg-color);
    color: white;
    font-size: 1.4rem;
}
#navopen-icon{
    cursor: pointer;
    padding: 10px;
}
#navopen-icon:hover{
    background-color: var(--icons-hover-color);
    border-radius: 50px;
    color: black;
}
#nav-bar{
    width: 15rem;
    background-color: var(--site-bg-color);
    padding: 10px 10px;
    height: 86.5vh;
    display: none;
    animation: widthstart .5s linear 1;
    position: absolute;
    z-index: 1;
}
@keyframes widthstart{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(1%);
    }
}

#nav-bar ul li{
    padding: 7px 5px;
    font-size: 1.2rem;
    margin: 3px 0;
    border-radius: 5px;

}
#nav-bar ul li a{
    color: white;
}
#nav-bar ul li:hover{
    background-color: var(--icons-hover-color);
}
.main-sec .about-developer{
    background-image: url(img/3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 89.8vh;
    width: 100vw;
}
.main-sec .about-developer .about-img img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    box-shadow: 10px 10px 15px rgb(0, 0, 0);
}
.main-sec .about-developer .about h1{
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 10px var(--site-bg-color);
}
.main-sec .about-developer .about h3{
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 15px rgb(241, 225, 0);
}
.main-sec .about-developer .about .about-btn{
    padding: 10px 15px;
    border-radius: 10px;
    border: 2px solid white;
    background: none;
    margin-top: 10px;
}
.main-sec .about-developer .about .about-btn a{
    color: rgb(255, 255, 255);
    padding: 15px 20px;
    font-size: 1rem;
}
.main-sec .about-developer .about .about-btn:hover{
    background-color: var(--site-bg-color);
    transition-duration: 1s;
}
main{
    display: grid;
   place-items: center;
   padding: 1rem 0 0 0;
}
#videos{
    width: 30rem;
}
#imgs{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.img-rotate{
    animation: rotate 2s linear infinite;
}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15rem;
    margin: auto;
    margin-top: 6rem;
}
.vitems i,
.items i{
    padding: 10px;
    border-radius: 50px;
    font-size: 1.5rem;
}
.vitems i:hover,
.items i:hover{
    background-color: var(--icons-hover-color);
}
#playicon{
    background-color: black;
    padding: 10px 20px;
    color: white;
}
#playicon:hover{
    background-color: blueviolet;
}
.vitems{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25rem;
    margin: auto;
    margin-top: .5rem;
}

/* app responsivness */
@media (max-width:930px){
    .main-sec .about-developer{
        display: grid;
        padding-top: 2rem;
        height: 100vh;
        place-items: center;
    }
    .main-sec .about-developer .about-img{
        margin-top: 2rem;
    }
}
@media (max-width:480px){
    .main-sec .about-developer .about{
        margin: 0 30px;
    }
    .main-sec .about-developer .about h1{
        font-size: 2.5rem;
    }
    .main-sec .about-developer .about h3{
        font-size: 1.2rem;
    }
    .main-sec .about-developer .about-img img{
        margin: 0 30px;
        width: 350px;
    }
}
@media (max-width:422px){
    .main-sec .about-developer .about h1{
        font-size: 2rem;
    }
    .main-sec .about-developer .about h3{
        font-size: 1rem;
    }
    .main-sec .about-developer .about-img img{
        margin: 0 30px;
        width: 300px;
        height: 350px;
    }
}
@media (max-height:920px){
    #nav-bar{
        height: 100vh;
    }
}
@media (max-height:580px){
    .main-sec .about-developer{
        height: 120vh;
    }
    #nav-bar{
        height: 122vh;
    }
}
@media (max-height:460px){
    .main-sec .about-developer{
        height: 150vh;
    }
    #nav-bar{
        height: 152vh;
    }
}
@media (max-height:362px){
    .main-sec .about-developer{
        height: 170vh;
    }
    #nav-bar{
        height: 173vh;
    }
}